@charset "UTF-8";

/*
    Em HTML é ID    = em CSS é # (só pode um elemento)
    Em HTML é class = Em CSS é . (podem ser vários elementos)
*/

body {
    background-color: rgb(114, 117, 141);
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    color: rgb(0, 0, 0);
}

h1#principal {
    text-align: center;
    
}

h2 {
    color: rgb(253, 250, 237);
}

.basico {
    color: rgb(5, 150, 5);
}

.intermediario {
    color: rgb(209, 209, 1);
}

.avancado {
    color: rgb(165, 5, 5);
}

p {
    color: rgb(235, 235, 235);
}

.destaque {
    background-color: rgb(212, 212, 212);
}