@charset "UTF-8";

* {
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-image: linear-gradient(to right, #1A8FAD, #3ED4FA, #70E2FF);
}

main {
    background-color: white;
    border-radius: 20px;
    box-shadow: 15px 15px 15px #1a8fada8;
    width: 1000px;
    padding: 20px;
    margin: auto;
}

h1{
    color: #FA983E;
    text-align: center;
    text-shadow: 1.5px 1.5px 1.5px hsla(29, 90%, 36%, 0.777);
}

h2 {
    color: #FA983E;
}

p {
    text-align: justify;
}